.container-fluid{
	height:auto;
	background-color:url(233,235,238);
}

.container{
	border:;
	height:auto;
	
}

.coverPic{
	
	height:400px;
	/* margin-left:100px;
	margin-right:100px; */
}

 .profilePic{
	
	height:200px;
	
	 margin:-150px 750px 0px 20px; /*top right bottom left*/
} 

.about{
	font-size:1.5rem;
	border:solid;
}

.album{
	font-size:1.5rem;
	border:solid;
}

.albumPics > img:hover{
	height:200px;
	width:200px;
}

@media screen and (max-width: 575px){
	.coverPic {
    height:300px;
}
}